<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name, label: 'Room name' %>

    <%= f.input :password, label: 'Room password' %>

    <%= f.input :gm_name, label: "Your display name" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
