<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<div>
  <% @rooms.each do |room| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= room.name %></h3>
      </div>
      <div class="panel-body">
        <p>
          GM: <%= room.gm_name %>
        </p>
        <br />
        <%= link_to 'View', room, class: "btn btn-default" %></td>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Create a room', new_room_path %>
