<p id="notice" class="text-center"><%= notice %></p>

<h1><%= link_to @character.name, @character %>'s Inventory</h1>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <td><strong><%= link_to item.name, item %></strong></td>
            <br />
            <td><%= item.description %></td>
            <br />
            <td>Stats: <%= item.stats %></td>
            <br />
            <% if item.uses %>
              <td>Uses: <%= item.uses %></td> |
            <% end %>
            <td>Value: <%= item.gold_value %></td>
            <br />
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Item', new_character_item_path %>
